.friends .friends__plus {
  padding: 20px 0px;
  border-bottom: 1px solid #b1acac;
  border-top: 1px solid #b1acac;
  margin: 20px 0px;
}

.friends__birthday .friends__birthday-title {
  padding: 20px 0px;
  padding-bottom: 0px;
  margin: 20px 0px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.5;
  border-top: 1px solid #807a7a;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 10px;
}
